body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

select {
  min-width: 200px;
  // background-image: url(../img/icon/icon-select-arrow.svg);
  background-size: 10px 6px;
  background-position: right 1.25rem center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}
