// sass-mq 使用方式
// @include mq($from: 斷點) {} 編譯後 @media (min-width: 斷點)
// @include mq($until: 斷點) {} 編譯後 @media (max-width: 斷點)
// @include mq($from: 斷點, $until: 斷點) {} 編譯後 @media (min-width: 斷點) and (max-width: 斷點)
$mq-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// 主色，依照專案調整
$primary: #38c674;

// 黑白色
$black: #000000;
$white: #ffffff;

// 灰階，依照專案調整
$gray-100: #eeeeee;
$gray-200: #dddddd;
$gray-300: #cccccc;
$gray-400: #bbbbbb;
$gray-500: #aaaaaa;
$gray-600: #999999;
$gray-700: #666666;
$gray-800: #333333;
$gray-900: #222222;

// GAP
$gap: (
  2\.5: 0.625rem,
  5: 1.25rem,
  6: 1.5rem,
  7\.5: 1.875rem,
  10: 2.5rem,
  12\.5: 3.125rem,
  15: 3.75rem,
);
