// Global Setting
* {
  // font-family: "Gothic A1", "Noto Sans TC", "sans-serif";
  font-family: "century-gothic", "Noto Sans TC", "sans-serif";
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }

  // filson own font size
  .filson-h1 {
    font-family: filson-soft, sans-serif;
    font-size: 36px;
  }

  .filson-h2 {
    font-family: filson-soft, sans-serif;
    font-size: 20px;
  }

  .filson-h3 {
    font-family: filson-soft, sans-serif;
    font-size: 20px;
  }

  .filson-h4 {
    font-family: filson-soft, sans-serif;
    font-size: 18px;
  }

  .filson-h5 {
    font-family: filson-soft, sans-serif;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  // filson own font size
  .filson-h1 {
    font-size: 50px;
  }

  .filson-h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  h1,
  h2,
  h3 {
    font-weight: 500;
  }
  h4,
  h5 {
    font-weight: 400;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }

  // filson own font size
  .filson-h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  .filson-h2 {
    font-size: 48px;
    font-weight: 500;
  }

  .filson-h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .filson-h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .filson-h5 {
    font-size: 1rem;
    font-weight: 400;
  }
}
