.glo-mb {
  margin-bottom: 28px;
}

.icon-mr {
  margin-right: 10px;
}

.my-gray-block {
  @apply bg-grayblock glo-radius border-white border p-6;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}
