.glo-mb {
  margin-bottom: 28px;
}

.icon-mr {
  margin-right: 10px;
}

.gray-block {
  @apply bg-gray-100 glo-radius border-white border p-6;
}

// @media only screen and (max-width: 767px) {
//   .gray-block {
//     @apply bg-gray-100 glo-radius border-0 px-0 py-6;
//   }
// }

.absolute-center {
  @apply absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}
