.min-w-300 {
  min-width: 18.75rem;
}

.w-300 {
  width: 18.75rem;
}

.max-w-110 {
  max-width: 110px;
}

.w-160 {
  width: 10rem;
}

.w-166 {
  width: 10.375rem;
}

.w-198 {
  width: 198px;
}

.max-w-236 {
  max-width: 236px;
}

.w-236 {
  width: 236px;
}

.h-94 {
  height: 94px;
}

.h-50 {
  height: 50px;
}

.h-40 {
  height: 40px;
}

.h-210 {
  height: 210px;
}

.w-208 {
  width: 208px;
}
