select {
  background-color: white;
  min-width: 20px;
}

select::after {
  position: absolute;
  left: 50%;
  top: -8px;
  width: 0;
  height: 0;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000000;
}

.select-tag {
  @apply px-5 py-3 text-base rounded-2point5;
}
