select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  outline: none;
  min-width: 30px;
}

select::-ms-expand {
  display: none;
}

.select-tag {
  @apply px-5 py-3 text-base rounded-2point5 bg-white;
}

.select {
  border-radius: 5px;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.select::after {
  content: "";
  width: 0.75rem;
  height: 0.45rem;
  background-color: $secondary;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

select:required:invalid {
  color: rgba(63, 69, 71, 0.6);
}
