// placeholder
input::placeholder,
textarea::placeholder {
  color: rgba(63, 69, 71, 0.6);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(63, 69, 71, 0.6);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: rgba(63, 69, 71, 0.6);
}

.login-input {
  background-color: rgba(0, 0, 0, 0.4);
}

// ----- input text -----
input[type="text"] {
  min-width: 20px;
  color: #ccc;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#cccccc, #cccccc);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #e55400;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e55400;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e55400;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

// ----- input checkbox -----
.checkwrap {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkwrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.round-check,
.square-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

.checkwrap input ~ .round-check {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.checkwrap input ~ .square-check {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.checkwrap input:checked ~ .round-check {
  background-color: $primary;
  border: 1px solid transparent;
  border-radius: 50%;
}

.checkwrap input:checked ~ .square-check {
  background-color: $primary;
  border: 1px solid transparent;
  border-radius: 2px;
}

.round-check::after,
.square-check::after {
  content: "";
  position: absolute;
  display: none;
}

.checkwrap input:checked ~ .round-check::after,
.checkwrap input:checked ~ .square-check::after {
  display: block;
}

.checkwrap .round-check::after,
.checkwrap .square-check::after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
